<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- Two Way Binding -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <!-- creating Template variable -->
    <input type="text" class="form-control" #newServerInputData>
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <!-- The Template reference can also be fetched through ViewChild implementeh in TS file -->
    <input type="text" class="form-control" #newServerContentData>
    <br>
    <button class="btn btn-primary" (click)="onAddServer(newServerInputData)">Add
      Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(newServerInputData)">Add Server
      Blueprint</button>
  </div>
</div>