<div class="container">
  <!-- (serverCreated) and (blueprintCreated) are defined as event emitter from other component
     that here act as a event trigger functions and sends the events to the function written here -->
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- element (serverElement) fetching from ngFor loop is getting assigned to the
      "svrElement" which is the alias for the variable of another component (element)
      and that result is getting showed here   -->
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
      </app-server-element>
    </div>
  </div>
</div>